html,body {
    height: 100%;
    width: 100%;
}

#map {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #323232;
}

/* Estilos para el botón */
.footer-modal {
    display: flex;
    text-align: end;
    justify-content: end;
}

.delete_btn {
    margin-top: 1%;
}

.containerBtnGim {
    position: absolute;
    z-index: 1000;

    width: 100%;

    display: flex;
    justify-content: center;
    text-align: center;
}

/* Estilos para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@media screen and (max-width: 280px) {
    .containerBtnGim {
        display: block;
        font-size: 1;
    }
    .gim-btn {
        font-size: 15px !important;
    }
}