* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    background: #161623;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}   

section::before {
    content: '';
    position: absolute;

    width: 400px;
    height: 400px;

    background: linear-gradient(#FFC107, #E91E63);

    transform: translate(-250px, -120px);
    -webkit-transform: translate(-250px, -120px);
    -moz-transform: translate(-250px, -120px);
    -o-transform: translate(-250px, -120px);

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

section::after {
    content: '';
    position: absolute;

    width: 350px;
    height: 350px;

    background: linear-gradient(#2196F3, #31FF38);

    transform: translate(250px, 250px);
    -webkit-transform: translate(250px, 250px);
    -moz-transform: translate(250px, 250px);
    -o-transform: translate(250px, 250px);

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.container {
    position: relative;

    min-width: 360px;
    min-height: 400px;

    background: rgba(255, 255, 255, 0.1);

    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
    border-radius: 10px;

    z-index: 10;
    padding: 20px;
    backdrop-filter: blur(25px);

}

.container h3 {
    color: #fff;
    margin-bottom: 20px;
}

.container .list {
    position: relative;
    display: flex;
    
    padding: 10px;
    margin: 10px 0;

    background: rgba(0, 0, 0, 0.1);

    cursor: pointer;

    overflow: hidden;

    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -o-border-radius: 10%;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;

}

.container .list:hover {
    background: #fff;
    box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.1);

    transform: scale(1.15) translateX(30px) translateY(-15px);
    -webkit-transform: scale(1.15) translateX(30px) translateY(-15px);
    -moz-transform: scale(1.15) translateX(30px) translateY(-15px);
    -o-transform: scale(1.15) translateX(30px) translateY(-15px);
}

.container .list .container-icon {
    position: relative;

    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;

    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.container .list .container-icon .icon i{
    font-size: 3rem; /* ajustar el tamaño del icono según sea necesario */
    height: 100%;
    width: 100%;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.content .rank {
    position: absolute;

    right: -50px;

    color: #03A9F4;

    font-size: 2.7em;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.content .rank small {
    font-weight: 500;
    opacity: .25;
}

.container .list:hover .content .rank {
    right: 20px;
}

.content h4 {
    line-height: 1.4em;
    font-weight: 600;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.content p {
    font-size: 1em;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.container .list:hover .content h4,
.container .list:hover .content p {
    color: #333;
}